In [63]:
# Dependencies
import pandas as pd
import numpy as np
import os

# CSV File
csv_path = "Resources/purchase_data.csv"

# Read CSV into DF
data_file = pd.read_csv(csv_path)

In [65]:
### Player Count: Display the total number of Players

Player_Totals = data_file.loc[:,["Gender", "SN", "Age"]]
Player_Totals = Player_Totals.drop_duplicates()
Number_of_Players = Player_Totals.count()[0]

pd.DataFrame({"Total Players" : [Number_of_Players]})

   Total Players
0            576

In [66]:
### Purchasing Analysis (Total) ###
    # Number of Unique Items
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue
    
Number_of_Unique_Items = data_file['Item ID'].nunique()
Average_Price = data_file['Price'].mean().round(2)
Number_of_Purchases = data_file['Purchase ID'].count()
Total_Revenue = data_file['Price'].sum().round(2)

### Purchasing Analysis DataFrame ###

Total_Purchasing_AnalysisDF = pd.DataFrame({
    "Number of Unique Items":[Number_of_Unique_Items],
    "Average Purchase Price":[Average_Price],
    "Total Number of Purchases":[Number_of_Purchases],
    "Total Revenue":[Total_Revenue]})

### Currency/Formatting Added ###
Total_Purchasing_AnalysisDF["Average Purchase Price"] = Total_Purchasing_AnalysisDF["Average Purchase Price"].map("${:.2f}".format)
Total_Purchasing_AnalysisDF["Total Revenue"] = Total_Purchasing_AnalysisDF["Total Revenue"].map("${:.2f}".format)
Total_Purchasing_AnalysisDF

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77