In [63]:
# Dependencies
import pandas as pd
import numpy as np
import os

# CSV File
csv_path = "Resources/purchase_data.csv"

# Read CSV into DF
data_file = pd.read_csv(csv_path)

In [65]:
### Player Count: Display the total number of Players

Player_Totals = data_file.loc[:,["Gender", "SN", "Age"]]
Player_Totals = Player_Totals.drop_duplicates()
Number_of_Players = Player_Totals.count()[0]

pd.DataFrame({"Total Players" : [Number_of_Players]})

   Total Players
0            576

In [66]:
### Purchasing Analysis (Total) ###
    # Number of Unique Items
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue
    
Number_of_Unique_Items = data_file['Item ID'].nunique()
Average_Price = data_file['Price'].mean().round(2)
Number_of_Purchases = data_file['Purchase ID'].count()
Total_Revenue = data_file['Price'].sum().round(2)

### Purchasing Analysis DataFrame ###

Total_Purchasing_AnalysisDF = pd.DataFrame({
    "Number of Unique Items":[Number_of_Unique_Items],
    "Average Purchase Price":[Average_Price],
    "Total Number of Purchases":[Number_of_Purchases],
    "Total Revenue":[Total_Revenue]})

### Currency/Formatting Added ###
Total_Purchasing_AnalysisDF["Average Purchase Price"] = Total_Purchasing_AnalysisDF["Average Purchase Price"].map("${:.2f}".format)
Total_Purchasing_AnalysisDF["Total Revenue"] = Total_Purchasing_AnalysisDF["Total Revenue"].map("${:.2f}".format)
Total_Purchasing_AnalysisDF

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [67]:
### Gender Demographics ###
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non Disclosed

Gender_Totals = Player_Totals["Gender"].value_counts()
Gender_Percents = Gender_Totals/Number_of_Players*100

### Gender Demographics DataFrame ###
Gender_DemographicsDF = pd.DataFrame({"Total Count": Gender_Totals, "Percentage of Players": Gender_Percents})

### Currency/Formatting Added ###
Gender_DemographicsDF = Gender_DemographicsDF.round(2)
Gender_DemographicsDF

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [68]:

### Purchasing Analysis (Gender) ###
    # Purchase Count 
    # Average Purchase Price 
    # Total Purchase Value 
    # Average Purchase Total per Person by Gender

Gender_Purchase_Count = data_file.groupby(["Gender"])["Price"].count().rename("Purchase Count")
Average_Gender_Purchase_Price = data_file.groupby(["Gender"])["Price"].mean().rename("Average Purchase Price")
Total_Gender_Purchase_Value = data_file.groupby(["Gender"])["Price"].sum().rename("Total Purchase Value")
Average_Purchase_Total_PG = Total_Gender_Purchase_Value / Gender_DemographicsDF["Total Count"]


### Purchasing Analysis (Gender) DataFrame ###
Gender_Purchasing_AnalysisDF = pd.DataFrame({"Purchase Count": Gender_Purchase_Count,
                                            "Average Purchase Price": Average_Gender_Purchase_Price,
                                            "Total Purchase Value": Total_Gender_Purchase_Value,
                                            "Avg Total Purchase Per Person": Average_Purchase_Total_PG})
### Currency/Formatting Added ###
Gender_Purchasing_AnalysisDF["Average Purchase Price"] = Gender_Purchasing_AnalysisDF["Average Purchase Price"].map("${:.2f}".format) 
Gender_Purchasing_AnalysisDF["Total Purchase Value"] = Gender_Purchasing_AnalysisDF["Total Purchase Value"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF["Avg Total Purchase Per Person"] = Gender_Purchasing_AnalysisDF["Avg Total Purchase Per Person"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF = Gender_Purchasing_AnalysisDF.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"]]
Gender_Purchasing_AnalysisDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56